fastapi
uvicorn[standard]
pydantic
pydantic-core
pydantic-settings
SQLAlchemy[asyncio]
asyncpg
aiosqlite
httpx
google-cloud-storage
python-dotenv
openai
alembic
psycopg[binary]
pytest
Jinja2
composio
composio_openai_agents
openai-agents